body {

}

.container {
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding: 80px;
    line-height: 1.5;
  background: url(http://mt1.baidu.com/timg?shitu&quality=100&sharpen=100&er=&imgtype=0&wh_rate=null&size=h120&sec=1521340686&di=d60b1f1bc8e2c9e941955d9b0f7478cd&src=http%3A%2F%2Fe.hiphotos.baidu.com%2Fimage%2F%2570%2569%2563%2Fitem%2Fa9d3fd1f4134970a2c42a82e99cad1c8a7865df9.jpg);
  color: white;
  font-family: "microsoft yahei";
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


a {
	color:black ;
	text-decoration: none;
  background-color: #00F9A5;
  width:110px;
  padding:10px;
  height:30px;
  border-radious:5px;
  margin:15px; 
  border-radius: 5px;
}

h1{
	font-size: 50px;
}

h2 {
	margin-top: -30px;
	font-size: 1.6em;
}

p{
  font-size: 0.8em
}

.part-a{
  margin-top: 80px;
  margin-bottom: 40px;
  vertical-align:middle;
  text-align: center;
  border-radius: 10px;
    line-height: 1.5;
}
.middle-part{
  display:flex;
  display: -weblit-flex;
   text-align: center;
  margin: 40px;
  padding: 70px;
    line-height: 1.5;
}


#applybtn{
  width:100px;
  padding:10px;
  height:30px;
  border-radious:5px;
  margin:15px; 
}

.box{
    margin: 10px;
  padding: 10px;
  border-radius: 0px;
    line-height: 1.5;
}